//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages

.entry-title {
	font-size: rem(36);
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 rem(24) 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: rem(24) 0 0;
}

.page-links {
	margin: 0 0 rem(24) 0;

	clear: both;
}

.edit-link {
	margin: 0 rem(24);
}

.hero {
	width:100%;
	height:rem(600);
	background: url('assets/images/HeroImage.jpg') no-repeat center center;
	background-size: auto 100%;
}

.hero-text {
	color:$color-dark-blue;
	background-color: $color-gray-alt;
	padding: rem(24) rem(48);
	margin:0;
	text-align:center;
	font-size:1.5em;
}

.box {
	color: white;
	background-color: $color-dark-blue;
	border: 3px solid $color-dark-green;
	height: rem(290);

	&:first-child {
		margin-bottom: $gutter/2;
	}
}

.card {
	border: 3px solid $color-dark-green;
}

.contact-details {
	padding: rem(12);
	text-align: center;

	p {
		margin: 0 0 rem(10);
	}
}

// Asides

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
