//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages

.entry-title {
	font-size: rem(36);
	margin: 0;
	padding-left: $gutter/2;
	background-color: $color-dark-blue;
	color: white;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 rem(24) 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: rem(24) 0 0;
}

.page-links {
	margin: 0 0 rem(24) 0;

	clear: both;
}

.edit-link {
	margin: 0 rem(24);
}

.hero-wrap {
	position: relative;
}

.hero {
	width:100%;
	height:rem(248);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;

	@include media($phone-landscape) {
		height:rem(400);
	}

	@include media($tablet-portrait) {
		height:rem(695);
		background-size: auto 100%;
	}
}

.hero-text {
	color:white;
	background-color: $color-dark-blue;
	margin:0;
	text-align:center;
	padding: rem(12);
	position: absolute;
	bottom: 0;

	@include media($tablet-portrait) {
		// font-size:1em;
		padding: rem(12) rem(48);
	}
}

.box {
	color: white;
	background-color: $color-dark-blue;
	border: 3px solid $color-dark-green;

	@include media($tablet-portrait) {
		height: rem(290);

		&:first-child {
			margin-bottom: $gutter/2;
		}
	}
	
}

.card {
	border: 3px solid $color-dark-green;
	margin-bottom: $gutter/2;

	&:last-child {
		margin-bottom:0;
	}
}

.contact-details {
	padding: rem(12);
	text-align: center;

	p {
		margin: 0;
	}

	h4 {
		margin:0.5em;
	}
}

.featured-image {
	position:relative;
	border: 3px solid $color-dark-green;
}

// Asides

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

// Google Map
#map_canvas {
  height: rem(250);
  width: 100%;
}

#map_canvas img { 
  max-width: none; // to prevent UI control bug
}

#map_canvas .content {
  padding: 0 0.5em 1em 0.5em;
}

#map_canvas .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
}

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0;
}

