//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------

.site-footer {
  background-color: $color-dark-blue;
  color: white;
}

.site-info {
  text-align: center;
  padding: 2em 0;

  a {
    color: white;
  }
}