//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.site-title {
	margin:0;
}

.site-header {
  padding:0;
}

.top-bar {
  @include clearfix;
  background-color:lightblue;
}

.top-nav {
  list-style: none;
  float:right;
  margin:0.5rem 0;

  .icon {
    height:24px;
    width:24px;
  }

  li {
    float:left;
    margin-right:2em;
  }
}