//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	@include outer-container;

	// padding: 0 2em;
	margin-bottom: 1em;

	@include media($tablet-portrait) {
		padding: 0 2em;
	}

	@include media($desktop) {
		padding: 0;
	}
}

.site-header,
.site-footer {
	padding: 0 2*$gutter;
}

.site-content {
	// margin: rem(20) auto;

	@include media($desktop) {
		margin: rem(40) auto rem(60);
	}
}

.primary {
	@include fill-parent;
	margin-bottom: $gutter/2;

	@include media($tablet-portrait) {
		@include span-columns(8);
	}
}

.secondary {
	@include fill-parent;
	@include span-columns(12);

	@include media($tablet-portrait) {
		@include span-columns(4);
	}

	.box {
		@include fill-parent;
		margin-bottom: $gutter/2;
		
		@include media($phone-landscape) {
			@include span-columns(6 of 12);
		}

		@include media($tablet-portrait) {
			@include span-columns(12 of 12);
			@include omega();
		}
	}
}

.card {
	@include fill-parent;

	@include media($phone-landscape) {
		@include span-columns(4);
	}

	@include media($tablet-portrait) {
		@include span-columns(4);
	}
}